.libraryMenuNav {
  height: 100vh;
  width: 0px;
  background: #F5F8FF;
  box-shadow: 1px 1px 5.88636px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 120px;
  transition: 0.1s linear;
  z-index: 1;
  display: grid;
  grid-template-columns: 1.112vw auto 1.112vw;
  grid-template-rows: 6.805vh 40px auto 6.805vh;
  grid-template-areas:
    ". . ."
    ". libraryNavHeader ."
    ". libraryMenuItems ."
    ". libraryMenuItems .";

  &.libraryMenuOpen {
    width: 20.833vw;
    min-width: 299px;
    position: fixed;
    top: 0;
    left: max(56px, 4.166vw);
    transition: 0.1s linear;
  }

  .libraryNavHeader {
    grid-area: libraryNavHeader;
  }

  .wrapper {
    // display: flex;
    // flex-direction: column;

    .dropdownSection {
      grid-area: libraryMenuItems;

      .dropdownText {}
    }

    .dropdownBody {
      width: 100%;
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
      background: #d5d5d5;

      &.open {
        max-height: 100vh;
        transition: max-height 0.25s ease-in;
      }

      &.close {
        max-height: 0;
        transition: max-height overflow 0.15s ease-out;
      }
    }
  }

}
