<header [ngClass]="{'headerPosition': forHeaderPosition}">
    <a class="globalLink phoneSection" href="tel:1-844-733-5742">
        <span class="phoneBg"></span>
        Toll Free: 1-844-733-5742
    </a>

    <section class="messageProfileWrapper">

        <a class="messageSection" href="">
            <!-- add 'unreadMessages' class to change to new message image-->
            <span class="messageIcon"></span>
        </a>

        <a class="profileSection" href="">
            profile section
        </a>
    </section>

</header>