@import '../../assets/sass/globalClass.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: max(72px, 6.805vh);
  transition: position 0.1s linear;

  &.headerPosition {
    position: absolute;
    left: max(314px, 21.8vw);
    transition: position 0.1s linear;
  }

  .phoneSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .phoneBg {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background: url('../../assets/icons/phone.svg') center center no-repeat;

    }
  }

  .messageProfileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .messageSection {
      display: flex;
      margin-right: 32px;

      .messageIcon {
        // position: absolute;
        width: 24px;
        height: 24px;
        background: url('../../assets/icons/message.svg') center center no-repeat;

        &.unreadMessages {
          background: url('../../assets/icons/newMessage.svg') center center no-repeat;
        }
      }
    }

    .profileSection {}
  }
}
