.contentBody {
  display: grid;
  grid-template-columns: minmax(362px, 25.138vw) auto 24px;
  grid-template-rows: minmax(72px, 6.805vh) auto;
  grid-template-areas:
    "sideMenu header ."
    "sideMenu routerOutlet .";

  app-dashboard-header {
    grid-area: header;
  }

  app-side-menu {
    grid-area: sideMenu;
  }

  router-outlet+* {
    grid-area: routerOutlet;
  }
}
