@import '../../assets/sass/globalVariableValues.scss';



.mainContentBody {
  height: 100%;
  min-height: 100vh;
  transition: 0.1s linear;
  display: grid;
  // grid-template-columns: 3.68vw 28.2vw 22.73vw 4.375vw 18.4vw 2.615vw;
  grid-template-columns: minmax(3.68vw, auto) minmax(auto, 28.2vw) minmax(22.73vw, auto) minmax(4.375vw, auto) minmax(18.4vw, auto) minmax(auto, 2.615vw);
  //   grid-template-rows: 4.725vh 7.75vh 7.75vh 2.362vh 18.62vh 4.536vh 3.78vh 14.366vh 3.024vh 3.78vh 14.36vh 14.947vh;
  grid-template-areas:
    ". . . . . ."
    ". . dashboardBgImage dashboardBgImage dashboardBgImage .";
  @include var(background-color, text-color__light);
  border-top-left-radius: 6% 18%;

  &.contentMinimize {
    // width: 95vw;
    // margin-left: 5vw;
  }

  &.contentMaximize {
    // width: 80vw;
    // margin-left: 20vw;
  }

  .mainBgImage {
    grid-area: dashboardBgImage;
    // grid-column: 3/6;
    align-self: end;
    // grid-row: 7/13;
    width: 45.403vw;
    height: 49.174vh;
    background-image: url('../../assets/Images/backgroundImages/mainContentbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom right;
  }

}
