<section class="mainContentBody" [ngClass]="[hamburgerChecked ? 'contentMinimize' : 'contentMaximize']">
    <div class="mainBgImage"></div>
    <div style="font-size: 46px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia provident eum a dolor, reiciendis fugiat
        asperiores sunt doloribus quaerat recusandae itaque, totam illo quos modi tempora excepturi nulla alias!
        Minus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolorum quos, dolorem eos incidunt
        voluptatum hic asperiores recusandae, repudiandae consectetur explicabo velit. Dignissimos perferendis totam
        molestiae assumenda consequuntur. Vel, fugit?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Pariatur
        sit accusantium tempore facere porro vero ratione error excepturi, nihil nesciunt, modi doloribus libero
        quam
        perspiciatis incidunt magnam voluptas blanditiis. Natus!Lorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus odio adipisci fugit a
        deserunt
        facere, beatae ad magni perferendis, voluptate ex. Ipsum sequi laboriosam voluptas quisquam vero facilis
        unde?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa architecto exercitationem debitis,
        incidunt
        a provident quam ut non praesentium asperiores aliquam doloribus minima, cumque temporibus recusandae
        consectetur saepe ratione.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque suscipit repellat dicta molestias. Impedit
        nam
        earum fuga eos veritatis? Nostrum qui nulla quisquam dolore enim, sint et quis! Quidem, nulla!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, illum, aliquam sequi voluptatum ex eos ea
        autem,
        quasi voluptas necessitatibus libero omnis ipsam voluptate facere. Debitis facere nostrum quod quaerat?
    </div>
</section>