/* You can add global styles to this file, and also import other style files */
@import './assets/mixins.scss';

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}


.sr-only {
  display: none;
}
