@import '../../assets/sass/globalVariableValues.scss';
@import '../../assets/mixins.scss';

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  display: none;

  &:checked+.label {
    background: url('../../assets/icons/modal_close.svg') right top no-repeat;
  }
}

.label {
  transition: 0.2s ease-out;
  background: url('../../assets/icons/hamburger.svg') right top no-repeat;
  cursor: pointer;
  display: block;
  height: 24px;
  width: 31px;
}

.menuContentWrapper {
  display: flex;
  width: max(362px, 25.138vw);
  height: 100vh;

  .menuWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    // position: fixed;
    top: 0;
    left: 0;
    // max-width: 22.5vw;

    &.onMenuHover {
      .mainMenuMinimize {
        position: fixed;
      }

      +.libraryMenuSection {}

      +.mainContent {
        position: fixed;
        top: 0;
        // left: 27.499vw;
      }
    }

    .navWrapper {
      // position: fixed;
      // top: 0;
      // left: 0;

      &.mainMenuMaximize {
        height: 100%;
        background-color: #00308f;
        width: 18.333vw;
        min-width: 264px;
        transition: 0.1s linear;
        z-index: 999;
        display: grid;
        grid-template-columns: minmax(24px, 1.667vw) auto auto minmax(16px, 1.111vw);
        grid-template-rows: minmax(103px, 9.735vh) minmax(344px, auto) auto minmax(223px, 21.077vh) minmax(14px, 1.323vh);
        grid-template-areas:
          ". abilitiCBTLogo abilitiCBTLogo ."
          ". menuItems menuItems ."
          ". . . ."
          ". footerItems footerItems ."
          ". . . .";

        .logoSection {
          grid-area: abilitiCBTLogo;
          margin-top: max(24px, 1.323vh);
          cursor: pointer;

          .showLogo {
            display: block;
          }

          .hideLogo {
            display: none;
          }
        }

        .navItems {
          grid-area: menuItems;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: repeat(7, minmax(24px, 1.667vw));
          // minmax(24px, 1.667vw) minmax(24px, 1.667vw) minmax(24px, 1.667vw) minmax(24px, 1.667vw) minmax(24px, 1.667vw) minmax(24px, 1.667vw) minmax(24px, 1.667vw);
          grid-gap: 16px;
          align-items: start;
          grid-template-areas:
            "librarySection"
            "mainMenuLabel"
            "mainMenuSection"
            "activeModuleLabel"
            "activeModuleSection"
            "generalSectionLabel"
            "generalSection";

          a {
            @include var(color, text-color__light);
            cursor: pointer;

            .iconBackground {
              position: absolute;
              left: -9px;
              width: 38px;
              height: 38px;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover {
              .iconBackground {
                background-color: #275DC8 !important;
                border-radius: 28px;
              }

              .librarySectionRightArrow {
                background-color: transparent !important;

              }
            }

            &:visited {
              .iconBackground {
                background-color: red !important;
                border-radius: 28px;
              }

            }
          }

          .mainMenuLabel,
          .activeModuleLabel,
          .generalSectionLabel {
            color: #E4E5E7;
            font-size: 12px;
            text-transform: uppercase;
          }

          .mainMenuLabel {
            grid-area: mainMenuLabel;
          }

          .activeModuleLabel {
            grid-area: activeModuleLabel;
          }

          .generalSectionLabel {
            grid-area: generalSectionLabel;
          }

          .navItemsSections {
            position: relative;
            display: grid;
            grid-template-columns: minmax(24px, 1.666vh) auto minmax(24px, 1.666vh);
            grid-template-rows: auto;
            cursor: pointer;
            align-items: center;
            grid-template-areas:
              "menuItemLogo menuItemText menuItemRight";

            label {
              cursor: pointer;

            }

            .menuItemLogo {
              grid-area: menuItemLogo;
            }

            .menuItemText {
              grid-area: menuItemText;
              font-size: 16px;
              margin-left: max(16px, 1.111vw);
            }

            .menuItemRight {
              grid-area: menuItemRight;
            }
          }


          .librarySection {
            grid-area: librarySection;

            .libraryLogo {}

            .librarySectionRightArrow {}
          }

          .mainMenuSection {
            grid-area: mainMenuSection;
            align-self: start;

            .homeLogo {}
          }

          .activeModuleSection {
            grid-area: activeModuleSection;
            align-self: start;
            grid-template-areas: "menuItemLogo menuItemText menuItemText menuItemText";

            .activeModuleLogo {}
          }

          .generalSection {
            grid-area: generalSection;
            align-self: start;

            svg {
              stroke: #28E6E1;
            }
          }

        }

        .navFooterItems {
          grid-area: footerItems;
          display: grid;
          grid-auto-columns: auto;
          grid-gap: 16px;
          grid-template-rows: repeat(3, minmax(19px, 1.795vh)) auto auto;
          grid-template-areas:
            "contactSupport"
            "privacyPolicy"
            "termsofuse"
            "googleplayBadge"
            "appstoreBadge";

          a {
            @include var(color, text-color__light);
            cursor: pointer;
            text-decoration: none;
          }

          .contactSupport {
            grid-area: contactSupport;
          }

          .privacyPolicy {
            grid-area: privacyPolicy;
          }

          .termsofuse {
            grid-area: termsofuse;
          }

          .googleplayBadge {
            grid-area: googleplayBadge;
            background: url('../../assets/googlePlayBadge.svg') no-repeat;
          }

          .appstoreBadge {
            grid-area: appstoreBadge;
            background: url('../../assets/appStoreBadge.svg') no-repeat;
          }
        }

        +.menublock {
          width: 3.333vw;
          height: 7.561vh;
          min-width: 48px;
          min-height: 80px;
          z-index: 999;
          position: fixed;
          top: 0;
          left: max(263.5px, 18.233vw);
          transition: 0.1s linear;
          background-size: contain;
          background: url("../../assets/Anchor.svg") 100% 100% no-repeat;
        }

      }

      &.mainMenuMinimize {
        height: 100%;
        background-color: #00308f;
        width: 4.166vw;
        min-width: 56px;
        z-index: 999;
        transition: 0.1s linear;
        display: grid;
        grid-template-columns: repeat(3, minmax(18.66px, 1.388vw));
        grid-template-areas:
          "closeImg closeImg closeImg"
          "menuItems menuItems menuItems";

        .logoSection {
          grid-area: closeImg;
          align-self: center;
          justify-self: center;
          cursor: pointer;
        }

        .mobileNavItems {
          grid-area: menuItems;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: repeat(5, 9.829vh);
          //   grid-template-rows: repeat(7, minmax(20px, auto));
          grid-gap: 16px;
          grid-template-areas:
            "librarySection"
            "mainMenuSection"
            "activeModuleSection"
            "generalSection";

          a {
            @include var(color, text-color__light);
            cursor: pointer;

            .iconBackground {
              width: 36px;
              height: 36px;
              padding: 6px;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover {
              .iconBackground {
                background-color: #275DC8 !important;
                border-radius: 28px;
              }
            }

            &:visited {
              .iconBackground {
                background-color: red !important;
              }

            }
          }

          .border-bottom {
            height: 1px;
            width: 96%;
            margin: 3.969vh 0;
            display: flex;
            align-self: center;
            background-color: #275DC8;
          }

          .navItemsSections {
            display: grid;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            label {
              cursor: pointer;
            }

            .menuItemLogo {
              grid-area: menuItemLogo;
            }

          }


          .librarySection {
            grid-area: librarySection;
          }

          .mainMenuSection {
            grid-area: mainMenuSection;

            .homeLogo {}
          }

          .activeModuleSection {
            grid-area: activeModuleSection;
            align-self: start;
            grid-template-areas: "menuItemLogo menuItemText menuItemText menuItemText";

            .activeModuleLogo {}
          }

          .generalSection {
            grid-area: generalSection;

            svg {
              stroke: #28E6E1;
            }
          }

        }

        .navFooterItems {
          grid-area: footerItems;
        }

        +.menublock {
          width: 48px;
          height: 80px;
          z-index: 999;
          position: fixed;
          top: 0;
          left: max(55.5px, 4.066vw);
          background: url("../../assets/Anchor.svg") no-repeat;
        }
      }
    }

  }

  //Library Menu

  app-library-section {
    width: 100%;
    position: fixed;
  }


  .mainContent {
    // position: relative;
    margin-left: max(362px, 25.138vw);
    transition: 0.1s linear;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(72px, 6.805vh) auto;
    grid-template-areas:
      "dashboardHeader"
      "routerOutlet";

    &.mainContentPosition {
      // position: relative;
      margin-left: max(404px, 28.469vw);
      transition: 0.1s linear;
    }

    app-dashboard-header {
      grid-area: dashboardHeader;
    }

    router-outlet {
      grid-area: routerOutlet;
    }
  }
}
